<div class="panel panel-success" ng-if="vm.isLoggedIn()">
    <div class="panel-heading item_title"
         style="font-size:large">
        Items
        <div class="col-lg-4 pull-right">
            <form>
                <input type="text" class="form-control" placeholder="Search"  ng-model="vm.searchText">
                
                <button type="submit" class="btn btn-default placeholder-search-icon" aria-label="Left Align" ng-click="vm.navigate(newPageNumber)">
                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                </button>
            </form>

        </div>
    </div>
    <div class="panel-body">
        <!--<label class=" pull-right">Search: <input ng-model="searchText"></label>-->
        <table class="table">
            <thead>
                <tr>
                    <th ng-click="vm.sort('itemId')">
                        Item Id
                        <span class="glyphicon sort-icon" ng-show="vm.sortKey=='itemId'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('requestType')">
                        Request Type<span class="glyphicon sort-icon" ng-show="vm.sortKey=='requestType'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('encryptionProvider')">
                        Encryption Provider
                        <span class="glyphicon sort-icon" ng-show="vm.sortKey=='encryptionProvider'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('encryptionKey')">
                        Encryption Key
                        <span class="glyphicon sort-icon" ng-show="vm.sortKey=='encryptionKey'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('sourceDevice')">
                        Source Device
                        <span class="glyphicon sort-icon" ng-show="vm.sortKey=='sourceDevice'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                </tr>


            </thead>
            <tbody>
                <tr dir-paginate="item in vm.items  | itemsPerPage:10" total-items="vm.totalCount" current-page="vm.currentPage">
                    <td>{{ item.itemId}}</td>
                    <td>{{ item.requestType}}</td>
                    <td>{{ item.encryptionProvider }}</td>
                    <td>{{ item.encryptionKey }}</td>
                    <td>{{ item.sourceDevice  }}</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <nav aria-label="Page navigation" class="position-center"  >
            <dir-pagination-controls direction-links="true"
                                     boundary-links="true" on-page-change="vm.navigate(newPageNumber)">

            </dir-pagination-controls>
        </nav>
        <!--<div class="alert alert-info " role="alert">{{ vm.status.message }}</div>-->
    </div>
</div>