<div class="panel panel-success">
    <div class="panel-heading item_title"
         style="font-size:large">
        Operations
        <div class="col-lg-4 pull-right">
            <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchText">

            <button type="button" class="btn btn-default placeholder-search-icon" aria-label="Left Align" ng-click="vm.navigate(newPageNumber)">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="panel-body">
        <!--<label>Search: <input ng-model="searchText" ng-click="vm.navigate(newPageNumber)"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></label>-->
        <table class="table">
            <thead>
                 <tr>
                    <th ng-click="vm.sort('operationId')">
                        Operation Id
                        <span class="glyphicon sort-icon" ng-show="vm.sortKey=='operationId'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('required')">
                        Required<span class="glyphicon sort-icon" ng-show="vm.sortKey=='required'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('required')">
                        Required<span class="glyphicon sort-icon" ng-show="vm.sortKey=='required'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('required')">
                        Required<span class="glyphicon sort-icon" ng-show="vm.sortKey=='required'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sort('required')">
                        Required<span class="glyphicon sort-icon" ng-show="vm.sortKey=='required'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in vm.operations  | itemsPerPage:10 "
                     total-items="vm.totalCount" current-page="vm.currentPage" >
                    <td>{{ item.operationId}}</td>
                    <td>{{ item.required}}</td>
                    <td>{{ item.required}}</td>
                    <td>{{ item.required}}</td>
                    <td>{{ item.required}}</td>

                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" class="position-center">
            <dir-pagination-controls direction-links="true"
                                     boundary-links="true" on-page-change="vm.navigate(newPageNumber)">

            </dir-pagination-controls>
        </nav>
        <!--<div class="alert alert-info " role="alert">{{ vm.status.message }}</div>-->
    </div>
</div>