body {
    background-color: #ffffff;
}

.item_title
{
    color: #ffffff !important;
    background-color: #f04e23 !important;
    border-color:none !important; 
}

.navbar {
    border-radius: 0px !important;
}

 .navbar-inverse .navbar-nav > li > a
{
    color:#fff !important;
}

 .navbar-inverse .navbar-nav > li > a:active
{
    color: #f04e23 !important;
}


 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
{
    color: #f04e23 !important;
}




  .navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}
