<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>mi Guard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Style sheets -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/toastr.min.css" rel="stylesheet" />

    <!-- Library Scripts -->
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/dirPagination.js"></script>
    <script src="js/toastr.min.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="common/services/common.services.js"></script>
    <script src="common/services/itemResource.js"></script>
    <script src="common/services/operationResource.js"></script>
    <script src="common/services/productResource.js"></script>
    <script src="common/useraccount.js"></script>
    <script src="common/currentuser.js"></script>

    <!-- Item Controllers -->
    <script src="app/items/itemListCtrl.js"></script>

    <!-- Operation Controllers -->
    <script src="app/operations/operationListCtrl.js"></script>
    <!-- Operation Controllers -->
    <script src="app/products/productsListCtrl.js"></script>
    <script src="app/mainCtrl.js"></script>
</head>

<body ng-app="miGuard" ng-controller="MainCtrl as vm">
    <nav class="navbar navbar-inverse">
        <div id="navBar" class="container">
            <a class="navbar-brand"
               ui-sref="home"><img src="images/ivedix-nameplate.png" width="132" height="auto" alt="miGuard" /></a>
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse animate-if">

                <ul class="nav navbar-nav pull-left" ng-show="vm.isLoggedIn()">
                    <li><a ui-sref="itemList">Items</a></li>
                    <li><a ui-sref="operationList">Operations</a></li>
                    <li><a ui-sref="productsList">Products</a></li>

                </ul>

                <form id="signin" name="signin" class="navbar-form navbar-right" role="search" ng-hide="vm.isLoggedIn()">
                    <div class="form-group inner-addon left-addon">
                        <i class="glyphicon glyphicon-user userloginform"></i>
                        <input type="text" class="form-control" name="username" placeholder="Domain\username" ng-model="vm.userName" required>
                    </div>
                    <div class="form-group inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock userloginform"></i>
                        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="vm.password" required>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="vm.login()" ng-disabled="signin.$invalid">Login</button>


                </form>

                <div class="navbar-login">
                    <div class="row">
                        <div class="col-lg-6 userlogin-container">
                            <ul class="nav navbar-nav navbar-right" ng-if="vm.isLoggedIn()">
                                <li>
                                    <a style="cursor:none;">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                        <strong>{{vm.userData.userName}}</strong>

                                    </a>

                                </li>
                                <li><a ng-click="vm.logout()"><span>Sign Out </span> <span class="glyphicon glyphicon-log-out  pull-right log-out-right "></span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </nav>

    <div class="container">
        <div ui-view>

        </div>
        <!--<div class="row">
            <div class="col-md-2 col-md-offset-5" ng-show="vm.message" style="color:red;">{{vm.message}}</div>
        </div>-->
    </div>


</body>

</html>